<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/404.css">
  <link rel="icon" type="image/x-icon" href="/assets/images/404.png">
</head>
<body>
  <h1>404 Not Found</h1>
</body>
</html>